## Preprocessing

In [25]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [26]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [27]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [28]:
# Look at APPLICATION_TYPE value counts for binning
app_count_df = application_df["APPLICATION_TYPE"].value_counts()
app_count_df

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [29]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = app_count_df[app_count_df < 200].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [30]:
# Look at CLASSIFICATION value counts for binning
classification_count_df = application_df['CLASSIFICATION'].value_counts()
classification_count_df

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [31]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count_df[classification_count_df > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [32]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_count_df[classification_count_df <= 1500].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [33]:
application_df.shape

(34299, 10)

In [34]:
income_count_df = application_df["INCOME_AMT"].value_counts()
income_count_df

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [35]:
# Ordinal Encoding for income amounts
range_mapping = {
    0: 0,
    "1-9999": 1,
    "10000-24999": 2,
    "25000-99999": 3,
    "100000-499999": 4,
    "1M-5M": 5,
    "10M-50M": 6,
    "5M-10M": 7,
    "50M+": 8
}

application_df["INCOME_AMT"] = application_df["INCOME_AMT"].replace(range_mapping)

In [36]:
application_df["INCOME_AMT"].value_counts()

0    24388
3     3747
4     3374
5      955
1      728
2      543
6      240
7      185
8      139
Name: INCOME_AMT, dtype: int64

In [37]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df[["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "SPECIAL_CONSIDERATIONS"]])
dummies.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,1,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,1,0
2,0,0,0,0,0,1,0,0,0,1,...,0,0,0,1,1,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,1,...,0,0,1,0,0,0,0,1,1,0
4,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,1,0

In [38]:
encoded_df = application_df.merge(dummies, left_index=True, right_index=True)
encoded_df = encoded_df.drop(columns=["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "SPECIAL_CONSIDERATIONS"])
encoded_df.head()

,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,0,5000,1,0,1,0,0,0,0,...,0,0,0,1,1,0,0,0,1,0
1,1,1,108590,1,0,0,0,1,0,0,...,0,0,1,0,0,1,0,0,1,0
2,1,0,5000,0,0,0,0,0,0,1,...,0,0,0,1,1,0,0,0,1,0
3,1,2,6692,1,0,0,0,1,0,0,...,0,0,1,0,0,0,0,1,1,0
4,1,4,142590,1,0,0,0,1,0,0,...,1,0,0,0,0,0,0,1,1,0

In [39]:
encoded_df.columns

Index(['STATUS', 'INCOME_AMT', 'ASK_AMT', 'IS_SUCCESSFUL',
       'APPLICATION_TYPE_Other', 'APPLICATION_TYPE_T10',
       'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3', 'APPLICATION_TYPE_T4',
       'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6', 'APPLICATION_TYPE_T7',
       'APPLICATION_TYPE_T8', 'AFFILIATION_CompanySponsored',
       'AFFILIATION_Family/Parent', 'AFFILIATION_Independent',
       'AFFILIATION_National', 'AFFILIATION_Other', 'AFFILIATION_Regional',
       'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200', 'CLASSIFICATION_C2000',
       'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000', 'CLASSIFICATION_Other',
       'USE_CASE_CommunityServ', 'USE_CASE_Heathcare', 'USE_CASE_Other',
       'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

In [40]:
# Split our preprocessed data into our features and target arrays
y = encoded_df["IS_SUCCESSFUL"].values
X = encoded_df.drop(columns="IS_SUCCESSFUL").values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [41]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

First Optimization Attempt: Change number of Epochs <br>
Second Optimization Attempt: Change activation function for output layer <br>
Third Optimization Attempt: Reduce neurons in hidden layers <br>
Fourth Optimization Attempt: Add hidden layers

In [42]:
len(X_train[0])

35

In [43]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
# hidden_nodes_layer1 =  70
# hidden_nodes_layer2 = 30

# Attempt 3:
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 6

# Attempt 4:
hidden_nodes_layer3 = 6


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Attempt 4: Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# nn.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 288

 dense_4 (Dense)             (None, 6)                 54

 dense_5 (Dense)             (None, 6)                 42

 dense_6 (Dense)             (None, 1)                 7

=================================================================
Total params: 391
Trainable params: 391
Non-trainable params: 0
_________________________________________________________________

In [44]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Attempt 2:
# nn.compile(loss=tf.keras.losses.BinaryCrossentropy(from_logits = True), optimizer="adam", metrics=["accuracy"])

In [45]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

# Attempt 1:
# fit_model = nn.fit(X_train_scaled,y_train,epochs=200)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.6007 - accuracy: 0.6916
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5707 - accuracy: 0.7186
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5642 - accuracy: 0.7205
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5593 - accuracy: 0.7240
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5570 - accuracy: 0.7256
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7284
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5547 - accuracy: 0.7282
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5540 - accuracy: 0.7302
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7298
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7304
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7306
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5523 - accuracy: 0.7307
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5523 - accuracy: 0.7302
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5522 - accuracy: 0.7311
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5518 - accuracy: 0.7306
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7308
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7318
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7309
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7324
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7308
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7309
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5507 - accuracy: 0.7320
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5509 - accuracy: 0.7318
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5507 - accuracy: 0.7317
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7315
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5507 - accuracy: 0.7325
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7319
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7323
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7315
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5503 - accuracy: 0.7317
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7325
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7319
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7319
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7334
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7332
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7316
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5494 - accuracy: 0.7327
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5491 - accuracy: 0.7327
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7321
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7329
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7323
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7316
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7312
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7320
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5486 - accuracy: 0.7325
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7336
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7315
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7330
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7322
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7324
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7329
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7337
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5482 - accuracy: 0.7311
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7320
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7329
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7320
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7332
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7322
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7334
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5479 - accuracy: 0.7330
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7329
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7334
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7324
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7323
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7330
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7333
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5475 - accuracy: 0.7327
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5475 - accuracy: 0.7339
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7331
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7327
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7335
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7336
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7325
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7338
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5472 - accuracy: 0.7327
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7332
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7333
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7324
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7336
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7334
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7329
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7333
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5469 - accuracy: 0.7333
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7323
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7341
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7329
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7331
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7327
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7338
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5469 - accuracy: 0.7331
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7330
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7337
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7328
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7334
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7339
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7336
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7334
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5466 - accuracy: 0.7331
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7334
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7336

In [ ]:
# Optimization attempt #1: Increasing number of epochs, no change
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5594 - accuracy: 0.7294 - 392ms/epoch - 1ms/step
Loss: 0.5593870282173157, Accuracy: 0.7294460535049438

In [ ]:
# Optimization attempt #2: Change activation function for output layer to linear, no change
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5611 - accuracy: 0.7247 - 410ms/epoch - 2ms/step
Loss: 0.5610579252243042, Accuracy: 0.7246647477149963

In [46]:
# Optimization attempt #3: Reduce hidden layer neurons, no change
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5516 - accuracy: 0.7284 - 683ms/epoch - 3ms/step
Loss: 0.551596999168396, Accuracy: 0.728396475315094

In [ ]:
# Optimization attempt #4: Add hidden layer, no change
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5558 - accuracy: 0.7278 - 373ms/epoch - 1ms/step
Loss: 0.5558138489723206, Accuracy: 0.7278134226799011

# Auto Optimization

In [18]:
# Auto Optimizer
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])

    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=10,
        step=2), activation=activation, input_dim=len(X_train[0])))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=2),
            activation=activation))

    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

    return nn_model

In [19]:
!pip install keras-tuner

Collecting keras-tuner
  Downloading keras_tuner-1.3.5-py3-none-any.whl (176 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 176.1/176.1 kB 2.6 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.27.1)
Collecting kt-legacy (from keras-tuner)
  Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2023.7.22)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.4)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.3.5 kt-legacy-1.0.5

In [20]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [21]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 60 Complete [00h 01m 24s]
val_accuracy: 0.5292128324508667

Best val_accuracy So Far: 0.7329446077346802
Total elapsed time: 00h 24m 29s

In [22]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'sigmoid',
 'first_units': 1,
 'num_layers': 1,
 'units_0': 9,
 'units_1': 9,
 'units_2': 3,
 'units_3': 5,
 'units_4': 9,
 'units_5': 9,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/bracket': 1,
 'tuner/round': 1,
 'tuner/trial_id': '0053'}

In [23]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5737 - accuracy: 0.7329 - 572ms/epoch - 2ms/step
Loss: 0.5736722946166992, Accuracy: 0.7329446077346802

In [24]:
# Export our model to HDF5 file
best_model.save("AlphabetSoupCharity_Optimization.h5")